@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  opacity: 0.75;
  background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #b3dd1c 15%, #0f6bb1 100%);
  background: -webkit-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 150px 100px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h1 {
  font-family: "Nerko One", cursive;
  font-size: 100px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

p {
  margin: 20px;
  font-family: "Nerko One", cursive;
  font-size: 20px;
}

#myBtn{
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
  margin-bottom: 20px;

}

#ready-btn {
	box-shadow:inset 9px 10px 15px -2px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 10px; Location of the box */
  left: auto;
  top: auto;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 8, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  top: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

li{
  padding: 10px;
  text-align: center;
    list-style-type: none
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  font-size: 30px;
  float:right;
  font-weight: bold;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-content h2 {
  margin-bottom: 10px;
  font-family: "Nerko One", cursive;
  font-size: 40px;
}
